/Card.class
/Color.class
/EP1.class
/Game.class
/GameImpl.class
/IllegalMovementException.class
/IncorrectTurnOrderException.class
/InvalidCardException.class
/InvalidPieceException.class
/OnitamaGameException.class
/Piece.class
/Player.class
/Position.class
/Spot.class
